@reference '../index.css';

/* ====================================== NAVBAR STYLES ================================= */
.container {
    @apply h-container justify-start items-start flex-col p-4 transition-all duration-250 bg-light-grey/5
    w-auto;
}
/* ===================================================================================== */ 


/* ====================================== USER STYLES  ================================= */ 
.user-container {
    @apply flex items-center justify-evenly rounded-out h-16 group-hover:bg-opaque p-2 mb-2;
}

.user-img {
    @apply rounded-full border-light-grey border-2 w-7 group-hover:w-9 transition-all duration-250;
}

.user-info {
    @apply transition-all duration-250 group-hover:ml-2;
}

.username {
    @apply txt-heading-colour color-txt-accent;
}

.settings {
    @apply group-hover:w-8 color-txt-sub
    hover:scale-110 transition-all duration-200;
}
/* ===================================================================================== */ 


/* ====================================== NAV ITEMS STYLES ================================= */ 
.nav-item {
  @apply flex items-center rounded-out hover:color-bg my-1 
  cursor-pointer 
  group-hover:px-2 group-hover:justify-start w-full
  transition-all duration-250;
}

.nav-item-selected {
  @apply flex items-center rounded-out color-bg-accent  my-1
  group-hover:px-2 group-hover:justify-start w-full
  transition-all duration-250;
}

.nav-icon {
  @apply p-1 m-2  rounded-in color-txt-main transition-all duration-250;
}

.nav-icon-selected {
  @apply p-1 m-2  rounded-in color-txt-main transition-all duration-250;
}

.nav-txt {
  @apply txt opacity-0 translate-x-[-24px] visible w-0
  group-hover:opacity-100 group-hover:translate-x-0  group-hover:visible group-hover:w-24
  transition-all duration-250;
}

.nav-txt-selected {
  @apply txt-bold color-txt-main opacity-0 translate-x-[-24px] invisible w-0
  group-hover:opacity-100 group-hover:translate-x-0 group-hover:visible group-hover:w-24
  transition-all duration-250;
  
}
/* ===================================================================================== */ 
