@reference '../index.css';

/* ====================================== NAVBAR STYLES ================================= */
.container {
    @apply h-container justify-start items-start flex-col p-2 transition-all duration-250 color-bg-grey-5
    w-auto;
}
/* ===================================================================================== */ 


/* ====================================== USER STYLES  ================================= */ 
.user-container {
    @apply flex items-center justify-evenly rounded-out h-16 group-hover:color-bg-accent p-2 mb-1 cursor-pointer;
}

.user-img {
    @apply rounded-full w-7 group-hover:w-9 transition-all duration-250;
}

.user-info {
    @apply transition-all duration-250 group-hover:ml-2;
}

.username {
    @apply txt-heading-colour color-txt-accent;
}

#settings {
    @apply group-hover:w-16 cursor-pointer color-txt-sub
    hover:scale-95 transition-all duration-200;
}
/* ===================================================================================== */ 


/* ====================================== NAV ITEMS STYLES ================================= */ 
.nav-item {
  @apply flex items-center rounded-out hover:color-bg my-1 
  cursor-pointer 
  group-hover:px-2 group-hover:justify-start w-full
  transition-all duration-250;
}

.nav-item-selected {
  @apply flex items-center rounded-out color-bg-accent  my-1
  group-hover:px-2 group-hover:justify-start w-full
  transition-all duration-250;
}

.sidebar {
  @apply items-center rounded-full  my-1 
  cursor-pointer 
  group-hover:px-2  relative
  transition-all duration-250;
}

.sidebar-selected {
  @apply items-center rounded-full my-1
  group-hover:px-2 relative 
  transition-all duration-250;
}

.tooltip {
  @apply absolute left-1/2 -translate-x-1/2 -top-6
  color-bg-grey-5 color-txt-sub border-2 color-shadow
  txt-sub font-bold text-xs rounded-out px-2 py-1
  transition-all duration-200 scale-0 group-hover:scale-100 origin-bottom
}

.icon-anim {
  @apply group-hover:animate-wiggle group-hover:-translate-y-1 group-hover:scale-105
}

.nav-icon {
  @apply p-1 mx-2 my-1 rounded-in color-txt-main transition-all duration-250;
}

.nav-icon-selected {
  @apply p-1 mx-2 my-1 rounded-in color-txt-accent transition-all duration-250;
}

.nav-txt {
  @apply txt opacity-0 translate-x-[-24px] visible w-0
  group-hover:opacity-100 group-hover:translate-x-0  group-hover:visible group-hover:w-20
  transition-all duration-250;
}

.nav-txt-selected {
  @apply txt-bold color-txt-accent opacity-0 translate-x-[-24px] invisible w-0
  group-hover:opacity-100 group-hover:translate-x-0 group-hover:visible group-hover:w-20
  transition-all duration-250;
}

.nav-settings {
  @apply flex items-center rounded-out hover:color-bg my-1 
  cursor-pointer mt-auto 
  group-hover:px-2 group-hover:justify-start w-full
  transition-all duration-250;
}

.nav-settings-selected {
  @apply flex items-center rounded-out color-bg-accent my-1
  group-hover:px-2 group-hover:justify-start w-full mt-auto
  transition-all duration-250;
}
/* ===================================================================================== */ 
