@reference '../index.css';

/* ================== SEARCH BAR ===================== */
.search-container {
    @apply flex items-center justify-between txtbox w-9/12 max-w-xs;
}

.search-input {
    @apply  w-full p-1 outline-none border-none;
}

.search-icon {
    @apply color-txt-sub;
}
/* =================================================== */

/* ================== QUESTION CARD ================== */
.card-container {
    @apply h-full rounded-out m-auto border-2
    shadow-small color-bg;
}

.part-number {
    @apply txt mx-2 rounded-out cursor-pointer px-3 py-1 color-txt-sub;
}

/* =================================================== */

/* ===================== RANK BAR ==================== */
  .progress-bar {
    @apply w-full h-4 rounded-2xl border-2 color-shadow overflow-hidden color-bg 
  }
  
  .progress-fill {
    @apply h-full rounded-2xl color-cursor transition-all
  }
  
/* =================================================== */


.f {
  mask-image: url("../assets/crown.png");
}

/* =============== ATTEMPTS INDICATOR ================ */
@keyframes pulse-opacity {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
}
/* =================================================== */