/* ================== FONT & ROOT SETUP ============= */
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Manrope:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
}

/* ================== TAILWIND SETUP ============= */
@import "tailwindcss";

/* Dark Theme Setup  */
@custom-variant dark (&:where(.dark, .dark *));

/* Theming & Colour Pallet */ 
@theme {

  /* Light Mode */
  --color-white: #efefef;
  --color-black: #353535;
  --color-blue: #27548a;
  --color-grey: #757575;
  --color-light-grey: #bdbdbd; /* #e0e0e0 og*/ 
  --color-red: #f03131;
  --color-button: #f3f4f6; /* Add this for light mode button bg */

  /* Dark Mode */ 
  --color-blue-light: #74a1d8;
  --color-button-dark: #374151; /* Add this for dark mode button bg */

  /* Note: Do not change these randomly below styles must follow: 
  radius-out - radius-in = 2 * padding/margin */

  /* Margin and Padding Defaults*/
  --spacing: 5px;

  /* Border Radius */
  --radius-out: 15px; 
  --radius-in: 5px; 

}

@layer components {

  .sidebar-icon {
    @apply relative flex items-center justify-center
           h-12 w-12 mt-4 mx-auto
           bg-blue hover:bg-blue-light
           rounded-3xl hover:rounded-xl
           transition-all duration-200 ease-linear
  }
}

/* ================== UTILITY STYLES ============= */
/* Commonly used styles for text, buttons etc. This will keep our app consistent
  with dark mode pre implemented */

/* Text styles */
@utility txt-heading-colour {
  @apply text-blue dark:text-blue-light text-lg font-black
}

@utility txt-heading {
  @apply text-black dark:text-white text-lg font-black
}

@utility txt-bold {
  @apply text-black dark:text-white text-base font-bold
}

@utility txt {
  @apply text-black dark:text-white text-base 
}

@utility txt-sub {
  @apply text-grey dark:text-light-grey text-sm font-light
}

/* Button Styles */
@utility txtbox {
  @apply border-3 border-light-grey dark:border-grey rounded-in 
  px-2 py-1 dark:focus:border-blue-light focus:border-blue
  outline-none text-grey focus:txt w-6/12 block shadow-small
}

@utility blue-btn {
  @apply bg-blue dark:bg-blue-light text-white txt rounded-in px-2 py-1 
  outline-none hover:opacity-80 transition-all w-6/12 txt-bold block
}

@utility plain-btn {
  @apply bg-black dark:bg-white text-white dark:text-black rounded-in px-2 py-1 
  outline-none hover:opacity-80 transition-all w-6/12 txt-bold block
}

@utility red-btn {
  @apply bg-red text-white rounded-in px-2 py-1 
  outline-none hover:opacity-80 transition-all w-6/12 txt-bold block
}

/* Navbar */ 
@utility nav-item {
  @apply flex items-center rounded-out hover:bg-light-grey/20 dark:hover:bg-grey/20 my-1 
  cursor-pointer
  group-hover:px-2 group-hover:justify-start
  transition-all duration-250
}

@utility nav-item-selected {
  @apply flex items-center rounded-out bg-blue/5 dark:bg-blue-light/5 my-1
  group-hover:px-2 group-hover:justify-start
  transition-all duration-250
}

@utility nav-icon {
  @apply p-1 m-2  rounded-in text-black dark:text-white transition-all duration-250
}

@utility nav-icon-selected {
  @apply p-1 m-2  rounded-in text-blue dark:text-blue-light transition-all duration-250
}

@utility nav-txt {
  @apply txt opacity-0 translate-x-[-24px] visible w-0
  group-hover:opacity-100 group-hover:translate-x-0  group-hover:visible group-hover:w-24
  transition-all duration-250
}

@utility nav-txt-selected {
  @apply txt-bold text-blue dark:text-blue-light opacity-0 translate-x-[-24px] invisible w-0
  group-hover:opacity-100 group-hover:translate-x-0 group-hover:visible group-hover:w-24
  transition-all duration-250
  
}

/* Opaque Bg Gradient */
@utility bg-opaque {
  @apply bg-gradient-to-r from-blue/10 to-blue/5 dark:from-blue-light/10 dark:to-blue-light/5
}

/* Math Input */ 
math-field::part(menu-toggle) {
  display: none;
}

math-field::part(virtual-keyboard-toggle) {
  display: none;
}

/* Shadows */ 
@utility shadow-small {
  @apply shadow-[2px_2px_0px_1px] shadow-light-grey dark:shadow-grey
}

@utility shadow-big {
  @apply shadow-[4px_4px_0px_2px] shadow-light-grey dark:shadow-grey
}

/* Progress Bar */
@utility progress-bar {
  @apply w-[350px] h-6 rounded-2xl border-2 border-light-grey dark:border-grey overflow-hidden bg-button dark:bg-button-dark shadow-small
}

@utility progress-fill {
  @apply h-full rounded-2xl bg-gradient-to-r from-red to-yellow-400 dark:from-blue dark:to-blue-light
}