/* ================== FONT & ROOT SETUP ============= */
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Manrope:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
}

/* Hide ALL system cursors everywhere */
/* *,
*::before,
*::after {
  cursor: none !important;
} */


/* ================== TAILWIND SETUP ============= */
@import "tailwindcss";

/* Theming & Colour Pallet */ 
@theme {

  /* Main Colour Set */
  --color-white: #efefef;
  --color-black: #353535;
  --color-blue: #27548a;
  --color-grey: #757575;
  --color-light-grey: #bdbdbd; /* #e0e0e0 og*/ 
  --color-red: #f03131;
  --color-button: #f3f4f6; /* Add this for light mode button bg */

  /* Dark Mode */ 
  --color-blue-light: #74a1d8;
  --color-button-dark: #374151; /* Add this for dark mode button bg */

  /* Markoblank colour theme */
  --color-markoteal: #2a273f;
  --color-markored: #c4a7e7;
  --color-markogrey: #d5d4e9;
  --color-markobrown: #9ccfd8;

  /* Tangerine */
  --color-tangerineBG: #ffede0;
  --color-tangerineAccent: #fe5503;
  --color-tangerinePrimary: #3d1705;
  --color-tangerineSub: #ff9562;

  /* Iceberg Light */
  --color-icebergLightBG: #e8e9ec;
  --color-icebergLightAccent: #2d539e;
  --color-icebergLightPrimary: #33374c;
  --color-icebergLightSub: #adb1c4;

  /* Iceberg Dark */
  --color-icebergDarkBG: #161821;
  --color-icebergDarkAccent: #c6c8d1;
  --color-icebergDarkPrimary: #84a0c6;
  --color-icebergDarkSub: #595e76;

  /* Husqy */
  --color-husqyBG: #000000;
  --color-husqyAccent: #c58aff;
  --color-husqyPrimary: #ebd7ff;
  --color-husqySub: #972fff;

  /* Shadow */
  --color-shadowBG: #000000;
  --color-shadowAccent: #eeeeee;
  --color-shadowPrimary: #eeeeee;
  --color-shadowSub: #444444;

  /* Modern Ink */
  --color-modernInkBG: #ffffff;
  --color-modernInkAccent: #000000;
  --color-modernInkPrimary: #ff360d;
  --color-modernInkSub: #b7b7b7;

  /* Gruvbox Dark */
  --color-gruvboxBG: #282828;
  --color-gruvboxAccent: #ebdbb2;
  --color-gruvboxPrimary: #d79921;
  --color-gruvboxSub: #665c54;

  /* Magic Girl */
  --color-magicGirlBG: #ffffff;
  --color-magicGirlAccent: #00ac8c;
  --color-magicGirlPrimary: #f5b1cc;
  --color-magicGirlSub: #93e8d3;

  /* Menthol */
  --color-mentholBG: #00c18c;
  --color-mentholAccent: #ffffff;
  --color-mentholPrimary: #ffffff;
  --color-mentholSub: #186544;

  /* Lavendar */
  --color-lavendarBG: #EBE1EF;
  --color-lavendarAccent: #212B43;
  --color-lavendarPrimary: #8A5BD6;
  --color-lavendarSub: #A28DB8;

  /* Airplane */
  --color-airplaneBG: #E0F7FA;
  --color-airplaneAccent: #006064;
  --color-airplanePrimary: #004D40;
  --color-airplaneSub: #26A69A;

  /* Nord Light */
  --color-nordLightBG: #ECEFF4;
  --color-nordLightAccent: #8FBCBB;
  --color-nordLightPrimary: #8FBCBB;
  --color-nordLightSub: #6A7791;

  /* Sewing Tin Light */
  --color-sewingTinLightBG: #FFFFFF;
  --color-sewingTinLightAccent: #2D2076;
  --color-sewingTinLightPrimary: #2D2076;
  --color-sewingTinLightSub: #385ECA;

  /* Camping */
  --color-campingBG: #FAF1E4;
  --color-campingAccent: #3C403B;
  --color-campingPrimary: #618C56;
  --color-campingSub: #C2B8AA;

  /* Paper */
  --color-paperBG: #EEEEEE;
  --color-paperAccent: #444444;
  --color-paperPrimary: #444444;
  --color-paperSub: #B2B2B2;

  /* Aurora */
  --color-auroraBG: #282C34;
  --color-auroraAccent1: #61DAFB;
  --color-auroraAccent2: #8A2BE2;
  --color-auroraPrimary: #E06C75;
  --color-auroraSub1: #ABB2BF;
  --color-auroraSub2: #FFD700;

  /* Note: Do not change these randomly below styles must follow: 
  radius-out - radius-in = 2 * padding/margin */

  /* Margin and Padding Defaults*/
  --spacing: 5px;

  /* Border Radius */
  --radius-out: 10px; 
  --radius-in: 5px; 

  /* Animations */ 
    --animate-wiggle: wiggle 0.5s ease-in-out 1;  
    @keyframes wiggle {    
      0%,    
      100% { transform: rotate(0deg); }  
      25%  { transform: rotate(-8deg);  }  
      50%  { transform: rotate(8deg);  } 
      75%  { transform: rotate(-8deg);  }  

    }

}

/* ================== UTILITY STYLES ===================== */
/* Commonly used styles for text, buttons etc. This will keep our app consistent */
@layer utilities {
  .cursor-target {
    @apply relative; /* optional, just ensures it's positioned */
  }
}

/* ================== CONTAINERS ================== */
@utility w-h-container {
    @apply flex items-center justify-center w-full h-full
}

@utility h-container {
    @apply flex items-center justify-center h-full
}

@utility w-container {
    @apply flex items-center justify-center w-full
}

@utility container {
    @apply flex items-center justify-center
}


/* ================== Text styles ================== */
@utility txt-heading-colour {
  @apply color-txt-accent text-lg font-black
}

@utility txt-heading {
  @apply color-txt-main text-lg font-black
}

@utility txt-bold {
  @apply color-txt-main text-base font-bold
}

@utility txt {
  @apply color-txt-main text-base 
}

@utility txt-sub {
  @apply color-txt-sub text-sm font-light
}

/* ================== Button Styles ================== */
@utility txtbox {
  @apply border-2 rounded-in color-shadow
  px-2 py-1 focus-within:color-shadow-accent
  outline-none color-txt-sub focus:txt w-6/12 block
}

@utility blue-btn {
  @apply color-bg-accent color-txt-accent txt rounded-in px-2 py-1 
  outline-none hover:opacity-80 transition-all w-6/12 txt-bold block cursor-pointer
}

@utility plain-btn {
  @apply color-bg color-txt-main rounded-in px-2 py-1 
  outline-none hover:opacity-80 transition-all w-6/12 txt-bold block
}

@utility red-btn {
  @apply bg-red text-white rounded-in px-2 py-1 
  outline-none hover:opacity-80 transition-all w-6/12 txt-bold block
}

/* Opaque Bg Gradient */
@utility bg-opaque {
  @apply bg-gradient-to-r from-blue/10 to-blue/5 dark:from-blue-light/10 dark:to-blue-light/5
}

/* ================== Math Input ================== */ 
math-field::part(menu-toggle) {
  display: none;
}

math-field::part(virtual-keyboard-toggle) {
  display: none;
}

/* ================== Shadows ================== */ 
@utility shadow-small {
  @apply shadow-[2px_2px_0px_0px] color-shadow border-2 rounded-in
}

@utility shadow-big {
  @apply shadow-[4px_4px_0px_2px] color-shadow border-2
}

@keyframes wiggle {
  0%, 100% { transform: rotate(0deg); }
  25% { transform: rotate(-2deg); }
  75% { transform: rotate(2deg); }
}

/* ========================================= COLOUR THEMES ====================================================== */ 
@custom-variant dark (&:where([data-theme="dark"] *));
@custom-variant markoblank (&:where([data-theme="markoblank"] *));
@custom-variant tangerine (&:where([data-theme="tangerine"] *));
@custom-variant icebergLight (&:where([data-theme="icebergLight"] *));
@custom-variant icebergDark (&:where([data-theme="icebergDark"] *));
@custom-variant husqy (&:where([data-theme="husqy"] *));
@custom-variant shadow (&:where([data-theme="shadow"] *));
@custom-variant modernInk (&:where([data-theme="modernInk"] *));
@custom-variant gruvbox (&:where([data-theme="gruvbox"] *));
@custom-variant magicGirl (&:where([data-theme="magicGirl"] *));
@custom-variant menthol (&:where([data-theme="menthol"] *));
@custom-variant lavendar (&:where([data-theme="lavendar"] *));
@custom-variant airplane (&:where([data-theme="airplane"] *));
@custom-variant nordLight (&:where([data-theme="nordLight"] *));
@custom-variant sewingTinLight (&:where([data-theme="sewingTinLight"] *));
@custom-variant camping (&:where([data-theme="camping"] *));
@custom-variant paper (&:where([data-theme="paper"] *));
@custom-variant aurora (&:where([data-theme="aurora"] *));

@utility color-txt-main {
  @apply 
    text-black
    dark:text-white
    markoblank:text-markobrown
    tangerine:text-tangerinePrimary
    icebergLight:text-icebergLightPrimary
    icebergDark:text-icebergDarkPrimary
    husqy:text-husqyPrimary
    shadow:text-shadowPrimary
    modernInk:text-modernInkPrimary
    gruvbox:text-gruvboxPrimary
    magicGirl:text-magicGirlPrimary
    menthol:text-mentholPrimary
    lavendar:text-lavendarPrimary
    airplane:text-airplanePrimary
    nordLight:text-nordLightPrimary
    sewingTinLight:text-sewingTinLightPrimary
    camping:text-campingPrimary
    paper:text-paperPrimary
    aurora:text-auroraPrimary
}

@utility color-txt-sub {
  @apply 
    text-grey
    dark:text-light-grey
    markoblank:text-markogrey
    tangerine:text-tangerineSub
    icebergLight:text-icebergLightSub
    icebergDark:text-icebergDarkSub
    husqy:text-husqySub
    shadow:text-shadowSub
    modernInk:text-modernInkSub
    gruvbox:text-gruvboxSub
    magicGirl:text-magicGirlSub
    menthol:text-mentholSub
    lavendar:text-lavendarSub
    airplane:text-airplaneSub
    nordLight:text-nordLightSub
    sewingTinLight:text-sewingTinLightSub
    camping:text-campingSub
    paper:text-paperSub
    aurora:text-auroraSub1
}

@utility color-txt-accent {
  @apply 
    text-blue
    dark:text-blue-light
    markoblank:text-markored
    tangerine:text-tangerineAccent
    icebergLight:text-icebergLightAccent
    icebergDark:text-icebergDarkAccent
    husqy:text-husqyAccent
    shadow:text-shadowAccent
    modernInk:text-modernInkAccent
    gruvbox:text-gruvboxAccent
    magicGirl:text-magicGirlAccent
    menthol:text-mentholAccent
    lavendar:text-lavendarAccent
    airplane:text-airplaneAccent
    nordLight:text-nordLightAccent
    sewingTinLight:text-sewingTinLightAccent
    camping:text-campingAccent
    paper:text-paperAccent
    aurora:text-auroraAccent1
}

@utility color-bg {
  @apply 
    bg-white
    dark:bg-black
    markoblank:bg-markoteal
    tangerine:bg-tangerineBG
    icebergLight:bg-icebergLightBG
    icebergDark:bg-icebergDarkBG
    husqy:bg-husqyBG
    shadow:bg-shadowBG
    modernInk:bg-modernInkBG
    gruvbox:bg-gruvboxBG
    magicGirl:bg-magicGirlBG
    menthol:bg-mentholBG
    lavendar:bg-lavendarBG
    airplane:bg-airplaneBG
    nordLight:bg-nordLightBG
    sewingTinLight:bg-sewingTinLightBG
    camping:bg-campingBG
    paper:bg-paperBG
    aurora:bg-auroraBG
}

@utility color-txt-invert {
  @apply 
    text-white
    dark:text-black
    markoblank:text-markoteal
    tangerine:text-tangerineBG
    icebergLight:text-icebergLightBG
    icebergDark:text-icebergDarkBG
    husqy:text-husqyBG
    shadow:text-shadowBG
    modernInk:text-modernInkBG
    gruvbox:text-gruvboxBG
    magicGirl:text-magicGirlBG
    menthol:text-mentholBG
    lavendar:text-lavendarBG
    airplane:text-airplaneBG
    nordLight:text-nordLightBG
    sewingTinLight:text-sewingTinLightBG
    camping:text-campingBG
    paper:text-paperBG
    aurora:text-auroraBG
}


@utility color-bg-grey-5 {
  @apply 
    bg-grey/7
    dark:bg-light-grey/5
    markoblank:bg-markogrey/5
    tangerine:bg-tangerineSub/5
    icebergLight:bg-icebergLightSub/5
    icebergDark:bg-icebergDarkSub/5
    husqy:bg-husqySub/5
    shadow:bg-shadowSub/5
    modernInk:bg-modernInkSub/5
    gruvbox:bg-gruvboxSub/5
    magicGirl:bg-magicGirlSub/5
    menthol:bg-mentholSub/5
    lavendar:bg-lavendarSub/5
    airplane:bg-airplaneSub/5
    nordLight:bg-nordLightSub/5
    sewingTinLight:bg-sewingTinLightSub/5
    camping:bg-campingSub/5
    paper:bg-paperSub/5
    aurora:bg-auroraSub1/5
  
}

@utility color-bg-grey-10 {
  @apply 
    bg-grey/20
    dark:bg-light-grey/20
    markoblank:bg-markogrey/20
    tangerine:bg-tangerineSub/20
    icebergLight:bg-icebergLightSub/20
    icebergDark:bg-icebergDarkSub/20
    husqy:bg-husqySub/20
    shadow:bg-shadowSub/20
    modernInk:bg-modernInkSub/20
    gruvbox:bg-gruvboxSub/20
    magicGirl:bg-magicGirlSub/20
    menthol:bg-mentholSub/20
    lavendar:bg-lavendarSub/20
    airplane:bg-airplaneSub/20
    nordLight:bg-nordLightSub/20
    sewingTinLight:bg-sewingTinLightSub/20
    camping:bg-campingSub/20
    paper:bg-paperSub/20
    aurora:bg-auroraSub1/20

}

@utility color-bg-accent {
  @apply 
    bg-blue/20
    dark:bg-blue-light/15
    markoblank:bg-markored/15
    tangerine:bg-tangerineAccent/15
    icebergLight:bg-icebergLightAccent/15
    icebergDark:bg-icebergDarkAccent/15
    husqy:bg-husqyAccent/15
    shadow:bg-shadowAccent/15
    modernInk:bg-modernInkAccent/15
    gruvbox:bg-gruvboxAccent/15
    magicGirl:bg-magicGirlAccent/15
    menthol:bg-mentholAccent/15
    lavendar:bg-lavendarAccent/15
    airplane:bg-airplaneAccent/15
    nordLight:bg-nordLightAccent/15
    sewingTinLight:bg-sewingTinLightAccent/15
    camping:bg-campingAccent/15
    paper:bg-paperAccent/15
    aurora:bg-auroraAccent1/15
}

@utility color-shadow {
  @apply 
    border-light-grey/40
    dark:border-grey/20
    markoblank:border-markobrown/20
    tangerine:border-tangerineSub/20
    icebergLight:border-icebergLightSub/20
    icebergDark:border-icebergDarkSub/20
    husqy:border-husqySub/20
    shadow:border-shadowSub/20
    modernInk:border-modernInkSub/20
    gruvbox:border-gruvboxSub/20
    magicGirl:border-magicGirlSub/20
    menthol:border-mentholSub/20
    lavendar:border-lavendarSub/20
    airplane:border-airplaneSub/20
    nordLight:border-nordLightSub/20
    sewingTinLight:border-sewingTinLightSub/20
    camping:border-campingSub/20
    paper:border-paperSub/20
    aurora:border-auroraSub1/20

    shadow-light-grey/40
    dark:shadow-grey/20
    markoblank:shadow-markobrown/20
    tangerine:shadow-tangerineSub/20
    icebergLight:shadow-icebergLightSub/20
    icebergDark:shadow-icebergDarkSub/20
    husqy:shadow-husqySub/20
    shadow:shadow-shadowSub/20
    modernInk:shadow-modernInkSub/20
    gruvbox:shadow-gruvboxSub/20  
    magicGirl:shadow-magicGirlSub/20
    menthol:shadow-mentholSub/20
    lavendar:shadow-lavendarSub/20
    airplane:shadow-airplaneSub/20
    nordLight:shadow-nordLightSub/20
    sewingTinLight:shadow-sewingTinLightSub/20
    camping:shadow-campingSub/20
    paper:shadow-paperSub/20
    aurora:shadow-auroraSub1/20
  
}

@utility color-shadow-accent {
  @apply 
    border-blue
    dark:border-blue-light
    markoblank:border-markored
    tangerine:border-tangerineAccent
    icebergLight:border-icebergLightAccent
    icebergDark:border-icebergLightAccent
    husqy:border-husqyAccent
    shadow:border-shadowAccent
    modernInk:border-modernInkAccent
    gruvbox:border-gruvboxAccent
    magicGirl:border-magicGirlAccent
    menthol:border-mentholAccent
    lavendar:border-lavendarAccent
    airplane:border-airplaneAccent
    nordLight:border-nordLightAccent
    sewingTinLight:border-sewingTinLightAccent
    camping:border-campingAccent
    paper:border-paperAccent
    aurora:border-auroraAccent1; 
    
    @apply
    shadow-blue
    dark:shadow-blue-light
    markoblank:shadow-markored
    tangerine:shadow-tangerineAccent
    icebergLight:shadow-icebergLightAccent
    icebergDark:shadow-icebergDarkAccent
    husqy:shadow-husqyAccent
    shadow:shadow-shadowAccent
    modernInk:shadow-modernInkAccent
    gruvbox:shadow-gruvboxAccent
    magicGirl:shadow-magicGirlAccent
    menthol:shadow-mentholAccent
    lavendar:shadow-lavendarAccent
    airplane:shadow-airplaneAccent
    nordLight:shadow-nordLightAccent
    sewingTinLight:shadow-sewingTinLightAccent
    camping:shadow-campingAccent
    paper:shadow-paperAccent
    aurora:shadow-auroraAccent1
    
}

@utility color-cursor {
  @apply 
    bg-blue
    dark:bg-blue-light
    markoblank:bg-markored
    tangerine:bg-tangerineAccent
    icebergLight:bg-icebergLightAccent
    icebergDark:bg-icebergDarkAccent
    husqy:bg-husqyAccent
    shadow:bg-shadowAccent
    modernInk:bg-modernInkAccent
    gruvbox:bg-gruvboxAccent
    magicGirl:bg-magicGirlAccent
    menthol:bg-mentholAccent
    lavendar:bg-lavendarAccent
    airplane:bg-airplaneAccent
    nordLight:bg-nordLightAccent
    sewingTinLight:bg-sewingTinLightAccent
    camping:bg-campingAccent
    paper:bg-paperAccent
    aurora:bg-auroraBG
}

@utility image-invert {
  @apply 
    invert-0
    dark:invert
    markoblank:invert
    tangerine:invert-0
    icebergLight:invert-0
    icebergDark:invert
    husqy:invert
    shadow:invert
    modernInk:invert-0
    gruvbox:invert
    magicGirl:invert-0
    menthol:invert-0
    lavendar:invert-0
    airplane:invert-0
    nordLight:invert-0
    sewingTinLight:invert-0
    camping:invert-0
    paper:invert-0
    aurora:invert-0
}
