/* ================== FONT & ROOT SETUP ============= */
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Manrope:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
}

/* ================== TAILWIND SETUP ============= */
@import "tailwindcss";

/* Dark Theme Setup  */
@custom-variant dark (&:where(.dark, .dark *));

/* Theming & Colour Pallet */ 
@theme {

  /* Main Colour Set */
  --color-white: #efefef;
  --color-black: #353535;
  --color-blue: #27548a;
  --color-grey: #757575;
  --color-light-grey: #bdbdbd; /* #e0e0e0 og*/ 


  --color-red: #f03131;
  --color-button: #f3f4f6; /* Add this for light mode button bg */

  /* Dark Mode */ 
  --color-blue-light: #74a1d8;
  --color-button-dark: #374151; /* Add this for dark mode button bg */

  /* Markoblank colour theme */
  --color-markoteal: #b2d2c8;
  --color-markored: #c13117;
  --color-markogrey: #717977;
  --color-markobrown: #490909;

  /* Discord Colour theme */
  --color-discordblack: #313338;
  --color-discordblue: #5a65ea;
  --color-discordgrey: #565861;
  --color-discordwhite: #dcdee3;

  /* Ishtar Colour Theme */ 
  --color-ishtarblack: #202020;
  --color-ishtarred: #91170c;
  --color-ishtargrey: #847869;
  --color-ishtarbeige: #fae1c3;

  /* Note: Do not change these randomly below styles must follow: 
  radius-out - radius-in = 2 * padding/margin */

  /* Margin and Padding Defaults*/
  --spacing: 5px;

  /* Border Radius */
  --radius-out: 15px; 
  --radius-in: 5px; 

}

@layer components {

  .sidebar-icon {
    @apply relative flex items-center justify-center
           h-12 w-12 mt-4 mx-auto
           bg-blue hover:bg-blue-light
           rounded-3xl hover:rounded-xl
           transition-all duration-200 ease-linear
  }
}

/* ================== UTILITY STYLES ===================== */
/* Commonly used styles for text, buttons etc. This will keep our app consistent */

/* ================== CONTAINERS ================== */
@utility w-h-container {
    @apply flex items-center justify-center w-full h-full
}

@utility h-container {
    @apply flex items-center justify-center h-full
}

@utility w-container {
    @apply flex items-center justify-center w-full
}

@utility container {
    @apply flex items-center justify-center
}


/* ================== Text styles ================== */
@utility txt-heading-colour {
  @apply text-blue dark:text-blue-light text-lg font-black
}

@utility txt-heading {
  @apply text-black dark:text-white text-lg font-black
}

@utility txt-bold {
  @apply text-black dark:text-white text-base font-bold
}

@utility txt {
  @apply text-black dark:text-white text-base 
}

@utility txt-sub {
  @apply text-grey dark:text-light-grey text-sm font-light
}

/* ================== Button Styles ================== */
@utility txtbox {
  @apply border-3 border-light-grey dark:border-grey rounded-in 
  px-2 py-1 dark:focus:border-blue-light focus:border-blue
  outline-none text-grey focus:txt w-6/12 block shadow-small
}

@utility blue-btn {
  @apply bg-blue dark:bg-blue-light text-white txt rounded-in px-2 py-1 
  outline-none hover:opacity-80 transition-all w-6/12 txt-bold block
}

@utility plain-btn {
  @apply bg-black dark:bg-white text-white dark:text-black rounded-in px-2 py-1 
  outline-none hover:opacity-80 transition-all w-6/12 txt-bold block
}

@utility red-btn {
  @apply bg-red text-white rounded-in px-2 py-1 
  outline-none hover:opacity-80 transition-all w-6/12 txt-bold block
}

/* Opaque Bg Gradient */
@utility bg-opaque {
  @apply bg-gradient-to-r from-blue/10 to-blue/5 dark:from-blue-light/10 dark:to-blue-light/5
}

/* ================== Math Input ================== */ 
math-field::part(menu-toggle) {
  display: none;
}

math-field::part(virtual-keyboard-toggle) {
  display: none;
}

/* ================== Shadows ================== */ 
@utility shadow-small {
  @apply shadow-[2px_2px_0px_1px] color-lightgrey 
}

@utility shadow-big {
  @apply shadow-[4px_4px_0px_2px] color-lightgrey
}

/* Progress Bar */
@utility progress-bar {
  @apply w-[350px] h-6 rounded-2xl border-2 border-light-grey dark:border-grey overflow-hidden bg-button dark:bg-button-dark shadow-small
}

@utility progress-fill {
  @apply h-full rounded-2xl bg-gradient-to-r from-red to-yellow-400 dark:from-blue dark:to-blue-light
}

/* ========================================= COLOUR THEMES ====================================================== */ 
@custom-variant markoblank (&:where([data-theme="markoblank"] *));
@custom-variant discord (&:where([data-theme="discord"] *));
@custom-variant ishtar (&:where([data-theme="ishtar"] *));


/*============================= TEXT PRIMARY COLOURS */

/* used mostly for backgrounds */
@utility color-white {
  @apply 
    text-white
    dark:text-black
    markoblank:text-markoteal
    discord:text-discordblack
    ishtar:text-ishtarblack
}

@utility background-white {
  @apply 
    bg-white
    dark:bg-black
    markoblank:bg-markoteal
    discord:bg-discordblack
    ishtar:bg-ishtarblack
}

/* used mostly for main text */
@utility color-black {
  @apply 
    text-black
    dark:text-white
    markoblank:text-markored
    discord:text-discordwhite
    ishtar:text-ishtarred
}


/* used mostly for main text */
@utility background-black {
  @apply 
    bg-black
    dark:bg-white
    markoblank:bg-markored
    discord:bg-discordwhite
    ishtar:bg-ishtarred
}

/* used mostly for sub text */
@utility color-grey {
  @apply 
    text-grey
    dark:text-light-grey
    markoblank:text-markogrey
    discord:text-discordgrey
    ishtar:text-ishtargrey
}

/* used mostly for sub text */
@utility background-grey {
  @apply 
    bg-grey
    dark:bg-light-grey
    markoblank:bg-markogrey
    discord:bg-discordgrey
    ishtar:bg-ishtargrey
}

/* used mostly for shadows */
@utility color-lightgrey {
  @apply 
    text-light-grey
    dark:text-grey
    markoblank:text-markogrey/30
    discord:text-discordgrey/30
    ishtar:text-ishtargrey/30
}

/* used mostly for sub text */
@utility background-lightgrey {
  @apply 
    bg-light-grey
    dark:bg-grey
    markoblank:bg-markogrey/30
    discord:bg-discordgrey/30
    ishtar:bg-ishtargrey/30
}

/* used mostly for accents eg answer boxes */
@utility color-blue {
  @apply 
    text-blue
    dark:text-blue-light
    markoblank:text-markobrown
    discord:text-discordblue
    ishtar:text-ishtarbeige
}

@utility background-blue {
  @apply 
    bg-blue
    dark:bg-blue-light
    markoblank:bg-markobrown
    discord:bg-discordblue
    ishtar:bg-ishtarbeige
}